body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
.hero-section, .perks{
    position:relative;
    overflow: auto;
}
.container{
    max-width:1080px;
    margin:0 auto;
    padding:15px;
}
.container-full{
    padding:0px;
    margin:0;
}
.row{
    overflow: auto;
}
.text-center{
    text-align: center;
}
.hero-section img, .sec-12{
    width:100%;
}
.sec-2 {
    width: 14.66%;
    float: left;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin: 1%;
    box-sizing: border-box;
    text-align: center;
    min-height: 160px;
}
.sec-4{
    width: 33.33%;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}
.perks h2{
    color: #474747;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}
.perks h2 span{
    background: #474747;
    font-size:20px;
}
.perks .service{
    max-width:200px;
}
.perks .service li{
    font-size: 13px;
    border-bottom: 6px solid #474747;
}
.perks .service span, .score{
    float: right;
}
.kiwi-benefits img, .visa-benefits img{
    max-width:18px;
}
.perks .weloveit ul{
    padding-left: 15px;
}
.perks ul li, .perk-label{
    font-size: 14px;
    margin-bottom: 15px;
}
.travel{
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 30px 0px 10px;
}
.travel-inner {
    max-width: 1110px;
    margin: 30px auto;
}
.travel h2{
    font-size: 1rem;    
    color: #000;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}
.travel p{
    color: #474747;
    margin-top: 15px;
    font-size: .875rem;
    font-weight: 600;
}
.travel img{
    padding-top:10px;
    max-width:60px;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}
.about {
    margin: 80px auto;
}
.about h2, .hotel h2{
    color: #272727;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 600;
}
.about p{
    line-height: 1.5625rem;
    margin-bottom: 28px;
    font-size: 14px;
}
.about small{
    color: #474747;
    font-size: .75rem;
}
.about h6{
    color: #000;
    font-size: .875rem;
    font-weight: 600;
    margin:0;
}
.about-data{
    width:18%;
    float: left;
}
.about-info {
    width: 75%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
.list-group-item {
    padding: 16px 20px;
}
.list-group{
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: .25rem;
    margin-left: 6px;
}
.wow{
    width:60px;
    margin-top:20px;
}
.hotel ul{
    font-size: 14px;
}
.hotel ul li{
    margin: 0 0 17px;
}
.hotel ul li span{
    padding-left: 10px;
}
.green-link{
    color: #51a60e !important;
    font-size: 15.5px;
    cursor: pointer;
}
ul.list-unstyled {
    padding-inline-start: 0;
    font-size: 14px;
    line-height: 32px;
    list-style-type: none;
}
@media (max-width: 480px){
    .sec-2{
        width: 44%;
        margin: 3%;
    }
    .about-data{
        width:100%;
    }
    .list-group {
        float: left;
        width: 94%;
    }
    .list-group-item {
        width: 34%;
        float: left;
    }
    .sec-4{
        width:100%;
    }
    .padding{
        padding-bottom: 50px;
    }
}
@media (min-width: 370px) and (max-width: 480px){
    .list-group-item {
        width: 12%;
    }
    .about-info{
        width:100%;
    }
}    
@media (min-width: 481px) and (max-width: 768px){
    .sec-2{
        width: 44%;
        margin: 3%;
    }
    .about-data{
        width:100%;
    }
    .list-group {
        float: left;
        width: 98%;
    }
    .list-group-item {
        width: 15.4%;
        float: left;
    }
    .about-info{
        width:100%;
    }
    .weloveit{
        width:100%;
    }
    .padding{
        width:50%;
        padding-bottom: 50px;
    }
}
@media (min-width: 481px) and (max-width: 625px){
    .sec-4{
        width:100%;
    }
    .padding{
        width:50%;
        padding-bottom: 50px;
    }
}